<mat-card class="card-container">
    <mat-card-header class="heder">
        <div class="header-content">
            <mat-card-title class="achetres">{{ problema.nombre_problema }}</mat-card-title>
            <p class="deescripcion">{{ problema.descripcion }}</p>
        </div>
        <button mat-icon-button class="alert-button" (click)="openDTPDialog(problema.id)">
            <mat-icon>add_alert</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content >
        <div class="container">
            <div class="message-container">
                <h4 class="achetres" style="color: black; text-align: center; margin-top: 1vh;">Seguimiento</h4>
                <div class="conversacion" >
                    <div style="height: 100%; " *ngFor="let mensaje of mensajes" >
                        <p style="font-size: 2vh; margin: 1vw;">{{mensaje.fecha.slice(0,10)}} - </p>
                        <p style="font-size: 2vh; margin: 1vw; border-bottom: 3px solid black;">{{ mensaje.mensaje }}</p>
                        <!--<mat-icon>edit</mat-icon>-->
                    </div>
                </div>
            </div>
            <div>
                <mat-expansion-panel class="message-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Mensaje</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="form-field-container">
                        <div class="form-field-container">
                            <textarea matInput placeholder="Escribe aquí" [(ngModel)]="newMessage"></textarea>
                            <button mat-icon-button class="send-button" (click)="addMessage()">
                                <mat-icon>send</mat-icon>
                            </button>
                        </div>
                    </mat-form-field>
                </mat-expansion-panel>
                <button mat-icon-button class="resuelto" (click)="CambiarEstado(problema.id, problema.id_estado)"
                style="display: flex; flex-direction: row; border-radius: 1vw; width: fit-content;
                margin: 1vw auto 0 auto; font-size: medium;"
                [style.background-color]="problema.id_estado === 1 ? 'lightgreen' : 'lightcoral'"
                >
                    <p style="margin-top: 2px;">{{ problema.id_estado === 1 ? '¿Finalizar problema?' : '¿Marcar como pendiente?' }}</p>
                    <mat-icon>{{ problema.id_estado === 1 ? 'check_circle_outline' : 'highlight_off' }}</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
