<!-- addcreyente-dialog.component.html -->

<div>
    <h2>Añadir Creyente</h2>

    <form (submit)="enviarFormulario()" class="custom-scrollbar">
        <!-- Campos del formulario -->
        <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" id="nombre" name="nombre" [(ngModel)]="nuevoCreyente.nombre" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teléfono:</mat-label>
            <input matInput type="text" id="telefono" name="telefono" [(ngModel)]="nuevoCreyente.telefono" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dirección:</mat-label>
            <input matInput type="text" id="direccion" name="direccion" [(ngModel)]="nuevoCreyente.direccion" required>
        </mat-form-field>

        <div class="checkbox-container">
            <h3>Días disp</h3>
            <div class="checkbox-group">
                <mat-checkbox id="lunes" name="dias_disp" [(ngModel)]="diasDisp[0]">L</mat-checkbox>
                <mat-checkbox id="martes" name="dias_disp" [(ngModel)]="diasDisp[1]">M</mat-checkbox>
                <mat-checkbox id="miercoles" name="dias_disp" [(ngModel)]="diasDisp[2]">M</mat-checkbox>
                <mat-checkbox id="jueves" name="dias_disp" [(ngModel)]="diasDisp[3]">J</mat-checkbox>
            </div>

            <div class="checkbox-group">
                <mat-checkbox id="viernes" name="dias_disp" [(ngModel)]="diasDisp[4]">V</mat-checkbox>
                <mat-checkbox id="sabado" name="dias_disp" [(ngModel)]="diasDisp[5]">S</mat-checkbox>
                <mat-checkbox id="domingo" name="dias_disp" [(ngModel)]="diasDisp[6]">D</mat-checkbox>
            </div>
        </div>

        <mat-form-field>
            <mat-label>Grupo:</mat-label>
            <mat-select id="id_grupo" name="gpo" [(ngModel)]="nuevoCreyente.id_grupo" required>
                <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Botón de enviar -->
        <button mat-raised-button type="submit">Agregar Creyente</button>
    </form>
</div>
