.card-container {
    background-color: #2d557e;
    width: 80%;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 5px;
}

.panel {
    margin-bottom: 10px;
}

.form-field-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.estadoinf{
    margin: auto 1vw;
    font-weight: bold ;
}
.achetres{
    margin: 1vh auto;
    font-weight: bold;
    color: aliceblue;
}
.filtro-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filtro-item {
    margin-right: 20px;
  }