/* styles.css */
.card-container {
    background-color: brown;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

.panel {
    margin-bottom: 10px;
}

.form-field-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
