<mat-card class="card-container">
    <h3 class="achetres">{{problemas[1].nombre_creyente}}</h3>
    <mat-card-content>
        <mat-expansion-panel *ngFor="let problema of problemas" class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ problema.descripcion.length > 20 ? (problema.descripcion | slice:0:50) + '...' : problema.descripcion }}
                </mat-panel-title>
                <p class="estadoinf" [style.color]="problema.id_estado === 1 ? 'red' : 'green'">{{ problema.nombre_estado }}</p>
            </mat-expansion-panel-header>
            <mat-form-field class="form-field-container">
                <div class="form-field-container">
                    <input matInput [(ngModel)]="problema.descripcion" placeholder="Descripción" readonly>
                    <button mat-icon-button (click)="verDetalle(problema.id)">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
