.card-container {
    background-color: #2d557e;
    width: 80%;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 5px;
}

.panel {
    margin-bottom: 10px;
}

.form-field-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.estadoinf{
    margin: auto 1vw;
    font-weight: bold ;
}
.achetres{
    margin: 1vh auto;
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
}
/* Estilo específico para los checkboxes */
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.checkbox-group {
    text-align: center;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

.checkbox-group input {
    width: 20px;
}  