<mat-card class="card-container">
    <div style="display: flex; justify-content: space-between; width: 97%; margin: 0 auto; align-items: center;">
        <h3 class="achetres" style="margin: auto;">{{nombre}}</h3>
        <button mat-icon-button class="alert-button" 
        style=" font-size: medium;   margin: 1vh;background-color: lightgreen;"
        (click)="DialogAddProblema()">
            <mat-icon>note_add</mat-icon>
        </button>
    </div>

    <mat-card-content>
        <mat-expansion-panel  class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: bold;">
                    datos personales
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-field-container" style="display: flex; flex-direction: column; margin: auto auto;">
                <h3 style="color: gray; text-align: left; font-weight: bold;">Telefono: {{datospersonales[0].telefono}}</h3>
                <h3 style="color: gray; text-align: left; font-weight: bold;">Dirección: {{datospersonales[0].direccion}}</h3>
                <div class="checkbox-container">
                    <h3 style="color: gray; text-align: left; font-weight: bold;">Días disp</h3>
                    <div class="checkbox-group">
                        <mat-checkbox id="lunes" name="dias_disp" [(ngModel)]="diasDisp[0]" [disabled]="true">L</mat-checkbox>
                        <mat-checkbox id="martes" name="dias_disp" [(ngModel)]="diasDisp[1]" [disabled]="true">M</mat-checkbox>
                        <mat-checkbox id="miercoles" name="dias_disp" [(ngModel)]="diasDisp[2]" [disabled]="true">M</mat-checkbox>
                        <mat-checkbox id="jueves" name="dias_disp" [(ngModel)]="diasDisp[3]" [disabled]="true">J</mat-checkbox>
                    </div>
                    
                    <div class="checkbox-group">
                        <mat-checkbox id="viernes" name="dias_disp" [(ngModel)]="diasDisp[4]" [disabled]="true">V</mat-checkbox>
                        <mat-checkbox id="sabado" name="dias_disp" [(ngModel)]="diasDisp[5]" [disabled]="true">S</mat-checkbox>
                        <mat-checkbox id="domingo" name="dias_disp" [(ngModel)]="diasDisp[6]" [disabled]="true">D</mat-checkbox>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let problema of problemas" class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ problema.descripcion.length > 20 ? (problema.descripcion | slice:0:50) + '...' : problema.descripcion }}
                </mat-panel-title>
                <p class="estadoinf" [style.color]="problema.id_estado === 1 ? 'red' : 'green'">{{ problema.nombre_estado }}</p>
            </mat-expansion-panel-header>
            <mat-form-field class="form-field-container">
                <div class="form-field-container">
                    <input matInput [(ngModel)]="problema.descripcion" placeholder="Descripción" readonly>
                    <button mat-icon-button (click)="redirigirAPerfil(problema.id)">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
