/* tu-componente.component.css */

div {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.custom-scrollbar {
    max-height: 90vh; 
    overflow-y: auto;
    margin-left: 10px; 
}

/* Chrome, Edge y Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #DFE9EB;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2D557E;
    left: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}
