<div class="centered-container">
    <h2>Configuración</h2>

    <div style="width: 100%; text-align: center;">
        <button mat-raised-button class="add-button" (click)="DialogAddGrupo()"> 
            <mat-icon>library_add</mat-icon>
            Añadir Grupo
        </button>
        <button mat-raised-button class="add-button" (click)="redirigirfaq()"> 
            <mat-icon>question_answer</mat-icon>
            FAQ
        </button>
    </div>
    <div style="width: 100%; text-align: center;">
        
    </div>
</div>
