<div class="container">
    <h1>Please Login</h1>
    <form>
        <div class="form-control">
            <input type="text" required placeholder="Email" class="t1" id="user">
        </div>

        <div class="form-control">
            <input type="password" required placeholder="Password" class="t1" id="pass" #passwordInput>          
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 15px; justify-content: center;">
            <label>Show Password</label>
            <input type="checkbox" (change)="togglePasswordVisibility(passwordInput)">
        </div>  

        <button class="btn" (click)="navigateToMenu()">Login</button>
    </form>
</div>
