<mat-toolbar color="white" >
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
        </button>
        <h1 (click)="navigateToMenu()" style="cursor: pointer;">UNIVERSAL</h1>
    </mat-toolbar-row>
</mat-toolbar>
    
<mat-sidenav-container>
    <mat-sidenav #sidenav style="float: left;">
        <mat-nav-list>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Buscar</mat-panel-title>
                    </mat-expansion-panel-header>
                    <h3>Buscar Obrero</h3>
                    <mat-form-field>
                        <input matInput [(ngModel)]="valor_obrero" placeholder="Buscar Obrero">
                        <button mat-button matSuffix (click)="searchobrero(valor_obrero)">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <h3>Buscar miembros</h3>
                    <mat-form-field>
                        <input matInput [(ngModel)]="valor_miembro" placeholder="Buscar miembro">
                        <button mat-button matSuffix routerLink="aqui pon la ruta" (click)="searchmiembro(valor_miembro)">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>

            <br>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Añadir miembros</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item (click)="DialogAddObrero()">añadir nuevo obrero</a>
                    <a mat-list-item (click)="DialogAddCreyente()">añadir nuevo miembro</a>
                </mat-expansion-panel>
            </mat-accordion>

            <a mat-list-item href="#" style="margin-top: 2VW;">si</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh; margin-top: 2vw; margin-bottom: 2vw;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
